# ─── Database ─────────────────────────────────────────────────────────────────
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# ─── NextAuth / Auth.js ───────────────────────────────────────────────────────
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="generate-with--openssl-rand--base64-32"
